# FRONTEND (Vite) — fill these in
VITE_AUTH0_DOMAIN=auth.heliotropeimaginal.com
VITE_AUTH0_CLIENT_ID=fgT0QM0huvQsqPRiivKbdYYDLHQliQs2
VITE_AUTH0_AUDIENCE=https://api.heliotropeimaginal.com
VITE_AUTH0_REDIRECT_URI=http://localhost:8080/callback
